<div class="row">
	<div class="well">
		<h2>About Us</h2><br/>
		<b>Welcome to Entrepreneurial Mentor, A Social site where you get access to Investors, Entrepreneurs, and Mentors.
		It's my mission to create a social media environment for inspiring entrepreneurs to meet business investors and or mentors to help them grow their ideas.<br/>
		Who's it for? <br/>
		Investors & Entrepreneurs looking to take thier ideas and investments to the next level with cutting edge ideas and deditcated professionals in a mutually beneficial manner.<br/>
		That next Apple, Tesla or Facebook maybe just a click away! </b>
		<h4>Join with Pro to get in App Messaging to instantly connect with industry leaders & watch your business grow!!!</h4>
	</div>
</div>