<div class="row">
	<div class="well">
		<h2>About Us</h2></br>
		<p>Welcome to Entrepreneurial Mentor, A membership site where you get access to Investors, Entrepreneurs, and Mentors.</p></br>
		<b>Join with Pro to get in App Messaging to help you & your business grow!!!</b>
	</div>
</div>