/* Users Show Page Styles */
.user-show-avatar {

}

.job-title-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 2px solid #85bb65;
  border-radius: 4px;
  background-color: #309c3d;
  color: white;
  text-align: center;
}

.profile-block {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border: 2px solid #85bb65;
  background-color: #309c3d;
  border-radius: 4px;
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

/* Users Index Page Styles */
.user-index-avatar {
  border-radius: 50%;
}

.well.white-bg {
  background-color: white;
}